/*all styling goes here*, DONT USE ANY FRAMEWORKS*/

body {
}


h1 {
	color: black;
	font-size: 48px;
	text-align: center;
	font-family: "brandon-grotesque", Helvetica, sans-serif;
	padding-top: 30px;
}

p {
	color: black;
	font-size: 20px;
	text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 350px;
    padding-left: 350px;
    padding-bottom: 20px;
}

h2 {
	color: #51A1FC; 
	font-size: 20px;
	text-align: left;
	font-family: "brandon-grotesque", Helvetica, sans-serif;
	padding-right: 200px;
    padding-left: 200px;
}

.bullet1 {
	color: black; 
	font-size: 18px;
	text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-right: 225px;
    padding-left: 225px;
}

h3 {
	color: #51A1FC; 
	font-size: 20px;
	text-align: left;
	font-family: "brandon-grotesque", Helvetica, sans-serif;
	padding-right: 200px;
    padding-left: 200px;
}

.bullet2 {
	color: black; 
	font-size: 18px;
	text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-right: 225px;
    padding-left: 225px;
}

#sources {
	background-image: url('img/sources.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
}
